fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
requests
pgvector

# Validation
pydantic
pydantic-settings

# File upload support
python-multipart

# PDF Reading
pypdf

# alembic for Database
alembic
asyncpg
psycopg[binary]